ul li {
  position: relative;
  overflow: hidden;
}

.bottom_tabs {
  overflow: hidden !important;
  position: fixed;
  bottom: 0px;
}

.noindicator .indicator {
  display: none;
}

.ink {
  display: block;
  position: absolute;
  background: black;
  border-radius: 100%;
  transform: scale(0);
}

.ink.animate {
  animation: ripple 0.65s linear;
  animation-fill-mode: forwards;
}

@keyframes ripple {
  100% {
    opacity: 1;
    transform: scale(2.5);
  }
}

.bottom_tabs > .tab > a > .material-icons {
  position: relative;
  top: 15%;
}

.row .col {
  padding: 0;
}
